/* Stylesheet for landing page */




body {
    background-image: url(../images/43895099105_0eaf6ef695_k.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}


 @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap'); 



.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF; 
  outline: none;
  transition: 1s ease-in-out;
  margin: 5px 10px;
  position: relative;
  
}

svg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.modal {
  background-color: #001845;
  color: white;
}



